@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
  button{
    background-color: #3494E6;
    border-color:#3494E6 ;
  }
  button:hover{
    background-color: #EC6EAD;
    border-color:#EC6EAD ;
  }
  button:disabled{
    background-color: #EC6EAD;
    border-color:#EC6EAD ;
  }
  button:active{
    background-color: #EC6EAD;
    border-color:#EC6EAD ;
    
  }

button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #EC6EAD;
    border-color:#EC6EAD ;
}
}


.schedule__text{
  margin-bottom: 20px;
  margin-top: 20px
}